.history{
    display: flex;
    flex: 0.8;
    overflow-x: hidden;
    padding-left: 10px;
    background-color: #F9F9F9;
}

.left{
    background-color: #F9F9F9;
    width: 700;
    margin-left: 90px;
}

.history h3{
    margin-left: 55px;
    font-weight: 500;
}


