.haut{
    background-image: url(YOUTUBE.jpg) ;
    background-position:300px 740px;
    background-size: 500px;
    background-position-x: 400px;
    background-position-x: left;
    background-size:unset;
    
    


}